# Terraform
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform reports
gitleaks-report.json
infracost-report.html
.gitleaks.toml

# Gitleaks config
.gitleaks.toml
gitleaks-report.json

# Sensitive files
terraform.tfvars

# IDE
.vscode/
.idea/